
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Noto Sans';
}
header, footer{
    background-color: lightgray;
    text-align: center;
    
}
header h1{
    padding: 1rem;
    color: black;
}
nav{
    background-color: pink;
    margin: 0 auto;
    /*max-width: 800px;*/
}
nav ul{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    border: 1px solid #fff;
}
main{
    max-width: 1000px;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr;
    
}
.card {
    display: grid;
    justify-content:center;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid gray; 
}
.card h2{
    background-color: gray;
}
.card img{
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid #000;
    padding: 4px;
    width: 125px;
    height: auto;
    background-color: #eee;
}